# INTRODUCTION TO PYTHON


## Goal:

- How to create different objects (lists and dataframes) in Python.


## Tasks:

- Create lists of different types of data
- Select different elements from a list (indexing)
- Add, delete or modify items in a list
- Create a Dataframe from lists

#  Creating lists with data from Social Networks

In [1]:
# Social networks
#=================================

fbk = ["Facebook", 2449, True]
twt = ["Twitter", 339, False]
ig = ["Instagram", 1000, True]
yt = ["YouTube", 2000, False]
lkn = ["LinkedIn", 663, False]
wsp  = ["WhatsApp", 1600, True]

fbk, twt, ig

(['Facebook', 2449, True], ['Twitter', 339, False], ['Instagram', 1000, True])

## We add a 4th element: **Creation date**

- For this we will use the function `.append ()`

In [2]:
# We add data Creation Date
#=================================

fbk.append(2006)
twt.append(2006)
ig.append(2010)
yt.append(2005)
lkn.append(2003)
wsp.append(2009)


# fbk.remove(2006)
# twt.remove(2006)
# ig.remove(2010)
# yt.remove(2005)
# lkn.remove(2003)
# wsp.remove(2009)


fbk, twt, ig, yt, lkn, wsp

(['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['YouTube', 2000, False, 2005],
 ['LinkedIn', 663, False, 2003],
 ['WhatsApp', 1600, True, 2009])

# Select different items (Indexing)

In [3]:
# We select an element from the list
#=================================
print(fbk[0])


# We select a range of elements from the list
#=================================
print(fbk[0:2])


# We select all the elements of the list
#=================================
print(fbk[:])

Facebook
['Facebook', 2449]
['Facebook', 2449, True, 2006]

In [4]:
# We create a list with the social network names
#=================================
nombres_rrss = ["Facebook", "Twitter", "Instagram", "Youtube", "LinkedIn", "WhatsApp"]


# The last item does not enter the selection (WhatsApp)
#=================================
print(nombres_rrss[0:5])


# We can make the selection in reverse
#=================================
print(nombres_rrss[-1])

['Facebook', 'Twitter', 'Instagram', 'Youtube', 'LinkedIn']
WhatsApp

# Add, delete or modify items in a list


## Other functions (extend, pop, remove, instert)

- **Extend:** We can add more than one element (at one time) as a list
- **Pop:** We will remove an element by the index (by default, the last one will be removed)
- **Remove:** We will remove the element we want (according to name)
- **Insert:** Insert an element, in the position we want

In [5]:
# Create list from zero
#=================================
tlg = []


# Add data to the list
#=================================
tlg.append("Telegram")
tlg.extend([400, True, False])
tlg.insert(3,2017)


# Remove false data (2017, False)
#=================================
tlg.pop(4)
tlg.remove(2017)


# Modify True data (wrong data)
#=================================
tlg[2] = False


# We add in position 3 with the insert function
#=================================
tlg.insert(3, 2014)

tlg

['Telegram', 400, False, 2014]

# Create a Dataframe from Lists

In [10]:
# We collect in a list all the information of the RRSS
#=================================

lista_rrss = [fbk, twt, ig, yt, lkn, wsp]

lista_rrss

[['Facebook', 2449, True, 2006],
 ['Twitter', 339, False, 2006],
 ['Instagram', 1000, True, 2010],
 ['YouTube', 2000, False, 2005],
 ['LinkedIn', 663, False, 2003],
 ['WhatsApp', 1600, True, 2009]]

In [11]:
# Import pandas and use DataFrame function
#=================================

import pandas as pd

df = pd.DataFrame(lista_rrss, columns=["Nombre", "Cantidad", "es_FBK", "Año"])

df

      Nombre  Cantidad  es_FBK   Año
0   Facebook      2449    True  2006
1    Twitter       339   False  2006
2  Instagram      1000    True  2010
3    YouTube      2000   False  2005
4   LinkedIn       663   False  2003
5   WhatsApp      1600    True  2009

# It's all by now!

## Session Information

In [2]:
from sinfo import sinfo

sinfo()

-----
sinfo       0.3.1
-----
IPython             7.19.0
jupyter_client      6.1.7
jupyter_core        4.7.0
jupyterlab          2.2.6
notebook            6.1.6
-----
Python 3.8.5 (default, Sep  3 2020, 21:29:08) [MSC v.1916 64 bit (AMD64)]
Windows-10-10.0.19041-SP0
8 logical CPU cores, Intel64 Family 6 Model 126 Stepping 5, GenuineIntel
-----
Session information updated at 2021-04-14 12:54